<div ng-init="init()" ng-controller="exportOperationCtlr" class="container-fluid no_pad">                   
    <div class="col-sm-12 col-md-12 margin-bottom no_pad shipment_menu" >                   
      <!-- TOVAR INFORMATION -->
	  <div class="tovar_information">						
		 <div class="box visible">
			  
		   <!-- <div ng-include src="'views/export/menu.html'"></div> -->
		   
		   <div class="row">			
						<div class="col-xs-9">	
							<ul class="nav2">
								<li>
									<a href="#createNewShipment">Shipment</a>
								</li>
								<li class="active"><a href="#" class="parent2" style="margin-right: 7px">Parties</a>
									<ul class="parent2-content">
										<li class="active" ><a href="Exporter.html" >Exporter </a></li>
										<li><a href="Exporter_Ultimate_Consignee.html" >Ultimate Consignee</a></li>
										<li><a href="Exporter_Intermediate_Consignee.html" >Intermediate Consignee</a></li>
							            <li><a href="Exporter_Freight_Forwarder.html" >Freight Forwarder</a></li>
									</ul>
								</li>
								<li><a href="Exporter_Billing.html">Billing & Terms</a></li>
								<li><a href="Exporter_item_cartons.html" class="parent2" style="margin-right: 7px">Item & Cartons</a>
									<ul class="parent2-content">
										<li><a href="Exporter_Items.html" >Item</a></li>
										<li><a href="Exporter_Cartons.html" >Cartons</a></li>
									</ul>
								</li>
								<li><a href="Exporter_documents.html" >Documents</a></li>
							</ul>
							
							<div class="col-sm-6 col-md-6 wel_tt wel_colo margin-top10 no_pad" style="margin-top: 20px">
				                <div class="">
				                     <span class="head strong">Freight Forwarder</span>
				                </div>
				               
				            </div>
						</div>
						
						<div class="col-sm-3 col-md-3 text-right">
								<div class="ship_icon">
		  	                        <a href="javascript:void(0)"><span class="ship_big ship_icn_img flt_l" ></span>
		                            	WLS
		                            </a>		                            
							    </div>
		                        
		                        <div class="ship_icon">
		  	                        <a href="javascript:void(0)"><span class="ship_big ship_icn_img2 flt_l" ></span>
		                            	LS
		                            </a>		                            
							    </div>
						</div>
								   		
			   </div>
			   
		   
		   <hr> 
			   
            <div class="col-sm-12 col-md-12 margin-bottom no_pad response_info">
            	      	
            	 <!-- user form -->
           	               
                   <!-- /user form -->
            	
            </div>
       			   
			   <!-- <div>
			   		<div ng-view></div>
			   </div> -->
			                        
         </div>         
       </div>
     </div>
</div>