<div ng-init="initDplAuditPopup()" ng-controller="masterCtlr">
	<div class="modal-dialog modal-lg">	
		<div class="modal-content {{gtnClass}}">
			<div class="modal-header">
		            <h5 class="modal-title" id="modal-title">DPL Status History for {{ type }} : {{ code }}</h5>
		        </div>
		        <div class="modal-body" id="modal-body">
		            
		            <mdt-table animate-sort-icon="true" ripple-effect="true"
			            				selectable-rows = "false"
			            				table-card="{visible: true, title: 'DPL Status History', columnSelector: true}"	
								        paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}">
							   <mdt-header-row>
						            <mdt-column align-rule="left" column-sort="true" column-definition="Screened On"><span>Screened On</span></mdt-column>
						            <mdt-column align-rule="left" column-sort="true" column-definition="Screened By"><span>Screened By</span></mdt-column>
						            <mdt-column align-rule="left" column-sort="true" column-definition="DPL Audit No"><span>DPL Audit No</span></mdt-column>
						            <mdt-column align-rule="left" column-sort="true" column-definition="Entity Name"><span>Entity Name</span></mdt-column>
						            
						            <mdt-column align-rule="left" column-sort="true" column-definition="Old Status"><span>Old Status</span></mdt-column>
						            <mdt-column align-rule="left" column-sort="true" column-definition="New Status"><span>New Status</span></mdt-column>
						            
						        </mdt-header-row>								    
									    
							    <mdt-row ng-repeat="wplAudit in wplAudits track by $index">
							    
					            			<mdt-cell><span>{{wplAudit.createdOn | date:'dd/MM/yyyy'}}</span></mdt-cell>
					            			<mdt-cell><span>{{wplAudit.createdBy}}</span></mdt-cell>
					            			<mdt-cell><span>{{wplAudit.dplAuditNo}}</span></mdt-cell>
					            			<mdt-cell><span>{{wplAudit.partyName}}</span></mdt-cell>
					            			<mdt-cell><span>{{wplAudit.oldStatus}}</span></mdt-cell>
					            			<mdt-cell><span>{{wplAudit.newStatus}}</span></mdt-cell>
					            	
							    </mdt-row>
					  </mdt-table>
		            
		            <!-- <table class="table table-bordered table-hover table-condensed" style="font-size: 12px">
		            	
		            	<thead>
		            		<tr style="background-color: #ccc">
		            			
		            			<th>Screened On</th>
		            			<th>Screened By</th>
		            			<th>DPL Audit No</th>
		            			<th>Entity Name</th>
		            			<th>Old Status</th>   
		            			<th>New Status</th>
		            		</tr>
		            	</thead>
		            	
		            	<tbody>
		            		
		            		<tr ng-repeat="wplAudit in wplAudits track by $index">
		            			
		            			<td>{{wplAudit.createdOn | date:'dd/MM/yyyy'}}</td>
		            			<td>{{wplAudit.createdBy}}</td>
		            			<td>{{wplAudit.dplAuditNo}}</td>
		            			<td>{{wplAudit.partyName}}</td>
		            			<td>{{wplAudit.oldStatus}}</td>
		            			<td>{{wplAudit.newStatus}}</td>
		            		</tr>
		            	
		            	</tbody>
		            	
		            </table> -->
		        </div>
		        <div class="modal-footer">
		            <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
		            <button class="btn btn-black" type="button" ng-click="cancel()">Close</button>
		        </div>
		
		</div>
	</div>
</div>	

<script>
	$(document).ready(function(){
		var widthArr = [{index: 1, width: '16%'}, {index: 2, width: '22%'}, {index: 3, width: '18%'}, {index: 4, width: '22%'}, 
		                {index: 5, width: '11%'}, {index: 6, width: '11%'}];
		
		adjustColumns(widthArr);		
	});
</script>