   <div class="panel-grid-cell">

            <div class="row">

                   <div class="col-sm-12 col-md-12 text-left wel_div" >
                   <div class="wel_tt wel_colo">
                   <span class="head"><strong>Hi {{LoggedInUser.firstName}} {{LoggedInUser.lastName}},</strong></span>
						<p>Checkout your latest projects and their progress.</p></div>

                   <hr>

                   <!--<div class="row margin-top30 clearfix">&nbsp;</div> -->

                   <div class="col-sm-6 col-md-4 text-center" >
                       <div class="circle">
                           <div class="circle-inner4">
                               <div class="media">
                               <a href="#export-op" class="scroll-to"><img src="img/gt_icon.png" ></a>
                               </div>
                           </div>
                       </div>
					<div class="section-icon"><a href="#export-op" class="scroll-to"><strong>Global Trade</strong></a></div>
                    <p>Execute global trade and accelerate time to market with end-to-end supply chain
solutions by GTN.</p>
                   </div>

                   <div class="col-sm-6 col-md-4 text-center" >
                       <div class="circle">
                           <div class="circle-inner4">
                               <div class="media">
                               <a href="#import-op" class="scroll-to"><img src="img/ss_icon.png" ></a>
                               </div>
                           </div>
                       </div>
					<div class="section-icon"><a href="#import-op" class="scroll-to"><strong>Self Service</strong></a></div>
 <p>Automate export and import transactions and gain control by self-service tools by GTN.</p>
                   </div>

                   <div class="col-sm-6 col-md-4 text-center" >
                       <div class="circle">
                           <div class="circle-inner4">
                               <div class="media">
                               <a href="#pub" class="scroll-to"><img src="img/comply_icon.png" ></a>
                               </div>
                           </div>
                       </div>
					<div class="section-icon"><a href="#pub" class="scroll-to"><strong>Comply</strong></a></div>
                     <p>Stay compliant with
industry leading technology
empowering GTN.</p>
                   </div>

                </div>
            </div>
            </div>

                <div class="row margin-top30 clearfix">
                </div>